*.log
sitemap.xml
sitemap.xml.gz

# Ignore WordPress Core Files
wp-activate.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/themes/twenty*
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore Config File
wp-config.php


# CPI System file
sys-common

# Google Search Console
/google*

# Deploy Related
deploy*

# Other System files
# .htaccess

# INDEX.HTML
index.html