AddHandler x-httpd-php71 .php
suPHP_ConfigPath /home/ae163jnh5u/html/wp

<FilesMatch "^(\.htaccess|\.htpasswd|php\.ini|.*\.sql|.*\.log|.*\.cron|.*\.inc|.*\.phps|.*\.yml)$">
  Deny from all
</FilesMatch>

Options +SymLinksIfOwnerMatch

# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

# CloudFlare Redirect from http to https
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# WordPress Standard
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress