/* サイズ */
$contentWidth: 1000px;
$baseFontSize: 14px;

/* フォントサイズ */
$fs-10: .71rem;
$fs-11: .79rem;
$fs-12: .86rem;
$fs-13: .92rem;
$fs-14: 1rem;
$fs-15: 1.07rem;
$fs-16: 1.14rem;
$fs-18: 1.29rem;
$fs-20: 1.43rem;
$fs-21: 1.50rem;
$fs-24: 1.71rem;
$fs-26: 1.86rem;
$fs-28: 2.00rem;
$fs-30: 2.14rem;
$fs-34: 2.43rem;


/* カラー */
$textColor:    #2d2d2d;
$bgColor:      #fefbe4;
$titleColor:   #0e6939;