@charset 'utf-8';

@import 'variables';

/*
 * トップページ
 */
header {
	
	.main-image {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 1188px;
		//background: url(../images/top/bg-main-image.png) center center repeat-x;
		//background: $bgColor;
		background: url(../images/top/bg-main.png) center center no-repeat;
		
		/*
		.cover-upper {
			position: absolute;
			top: 0;
			width: 100%;
			height: 275px;
			background: url(../images/top/front-upper-image.png) center top no-repeat;
		}
		
		.cover-lower {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 412px;
			background: url(../images/top/front-lower-image.png) center bottom no-repeat;
		}
		*/
		
		/*
		.cover {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: url(../images/top/front-main-image.png) center center repeat-x;
		}
		*/
	}
	
	.site-title {
		margin: 150px auto 0;
	}
	
	/*
	#signboard {
		position: absolute;
		right: 0;
		bottom: 225px;
		left: 0;
		width: 735px;
		height: 422px;
		margin: auto;
		background: url(../images/top/img-signboard.png) center center no-repeat;
	}
	*/
	
	#signboard {
		position: absolute;
		right: 0;
		bottom: 305px;
		left: 55px;
		width: 550px;
		height: 280px;
		margin: auto;
		background: none;
		
		.bx-wrapper .bx-viewport {
			background: transparent;
			border: none;
			moz-box-shadow: none;
			webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	.bxslider {
		margin: 0;
		padding: 0;
		
		li {
			
			img {
				width: 100%;
				margin: 0;
				padding: 0;
			}
		}
	}

	/*
	 * ヘッダーナビゲーション
	 */
	#site-navigation {
		padding: 20px 15px 25px;
		background: url(../images/navigation/bg-navigation.png) center bottom repeat-x;
	} // #site-navigation
} // header

.section {
	
	width: 100%;
	
	&:nth-child(odd) {
		
		background: #fff;
		
	}
	
	&:nth-child(even) {
		background: $bgColor;
	}
} // .section

.section-inner {
	width: 100%;
	max-width: $contentWidth;
	margin: 0 auto;
	overflow: hidden;

	.sub-title {
		text-align: center;
	}
	
	h3 {
		color: $titleColor;
		font-weight: bold;
	}
	
	ul {
		padding: 0;
		list-style-type: none;
		
		li {
			overflow: hidden;
			margin: 0 0 15px;
			
			.date {
				display: inline-block;
				margin: 0 0 5px;
				padding: 2px 15px;
				background: #0e6939;
				border-radius: 5px;
				color: #fff;
			} // .date
			
			.title {
				margin: 0;
				padding-left: 15px;
				background: url(../images/common/list-mark-gr.png) left .4em no-repeat;
				
				a {
					color: #000;
					text-decoration: none;
					
					&:hover {
						text-decoration: underline;
					}
				}
			} // .title
		} // li
	} // ul
	
	.remains {
		font-weight: bold;
		
		&.red {
			color: red;
		}
		
		&.green {
			color: #0e6939;
		}
	}
	
	.button-box {
		margin: 30px 0;
	}
} // .section-inner

@media screen and (max-width: 767px) {
	
	header {
		background: url(../images/common/bg-header.png) center center repeat-x;
		background-size: auto 100%;
		
		.main-image {
			height: auto;
			margin-top: 40px;
			padding: 40px 10px 0;
			background: none;

			img {
				width: 100%;
			}
		}

		.site-title {
			margin-top: 0;
		}
		
		/*
		#signboard {
			position: relative;
			top: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			margin: 20px 0 0;
		}
		*/
		
		#signboard {
			position: relative;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			margin: 0 0 30px;
			padding: 60px 50px 60px 50px;
			background: url(../images/top/bg-signbord.png) center center no-repeat;
			background-size: 100%;
		}
		
		.bx-wrapper .bx-viewport {
			right: 0;
			left: 0;
		}
	}
	
	#sec-about {
		
		.left-box {
			padding-bottom: 20px;
			text-align: center;
		}
	}
	
	.section-inner {
		width: 100%;
		
		.pickup-item {
			text-align: center;
			
			img {
				margin: auto;
			}
		}
	}
	
	.schedule {
		margin-bottom: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}
