@charset "UTF-8";
/* サイズ */
/* フォントサイズ */
/* カラー */
/* トップページ */
header { /*
#signboard {
	position: absolute;
	right: 0;
	bottom: 225px;
	left: 0;
	width: 735px;
	height: 422px;
	margin: auto;
	background: url(../images/top/img-signboard.png) center center no-repeat;
}
*/ /* ヘッダーナビゲーション */ }
header .main-image { position: relative; overflow: hidden; width: 100%; height: 1188px; background: url(../images/top/bg-main.png) center center no-repeat; /*
.cover-upper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 275px;
	background: url(../images/top/front-upper-image.png) center top no-repeat;
}

.cover-lower {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 412px;
	background: url(../images/top/front-lower-image.png) center bottom no-repeat;
}
*/ /*
.cover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/top/front-main-image.png) center center repeat-x;
}
*/ }
header .site-title { margin: 150px auto 0; }
header #signboard { position: absolute; right: 0; bottom: 305px; left: 55px; width: 550px; height: 280px; margin: auto; background: none; }
header #signboard .bx-wrapper .bx-viewport { background: transparent; border: none; moz-box-shadow: none; webkit-box-shadow: none; box-shadow: none; }
header .bxslider { margin: 0; padding: 0; }
header .bxslider li img { width: 100%; margin: 0; padding: 0; }
header #site-navigation { padding: 20px 15px 25px; background: url(../images/navigation/bg-navigation.png) center bottom repeat-x; }

.section { width: 100%; }
.section:nth-child(odd) { background: #fff; }
.section:nth-child(even) { background: #fefbe4; }

.section-inner { width: 100%; max-width: 1000px; margin: 0 auto; overflow: hidden; }
.section-inner .sub-title { text-align: center; }
.section-inner h3 { color: #0e6939; font-weight: bold; }
.section-inner ul { padding: 0; list-style-type: none; }
.section-inner ul li { overflow: hidden; margin: 0 0 15px; }
.section-inner ul li .date { display: inline-block; margin: 0 0 5px; padding: 2px 15px; background: #0e6939; border-radius: 5px; color: #fff; }
.section-inner ul li .title { margin: 0; padding-left: 15px; background: url(../images/common/list-mark-gr.png) left 0.4em no-repeat; }
.section-inner ul li .title a { color: #000; text-decoration: none; }
.section-inner ul li .title a:hover { text-decoration: underline; }
.section-inner .remains { font-weight: bold; }
.section-inner .remains.red { color: red; }
.section-inner .remains.green { color: #0e6939; }
.section-inner .button-box { margin: 30px 0; }

@media screen and (max-width: 767px) { header { background: url(../images/common/bg-header.png) center center repeat-x; background-size: auto 100%; /*
#signboard {
	position: relative;
	top: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 20px 0 0;
}
*/ }
  header .main-image { height: auto; margin-top: 40px; padding: 40px 10px 0; background: none; }
  header .main-image img { width: 100%; }
  header .site-title { margin-top: 0; }
  header #signboard { position: relative; top: 0; bottom: 0; left: 0; width: 100%; height: auto; margin: 0 0 30px; padding: 60px 50px 60px 50px; background: url(../images/top/bg-signbord.png) center center no-repeat; background-size: 100%; }
  header .bx-wrapper .bx-viewport { right: 0; left: 0; }
  #sec-about .left-box { padding-bottom: 20px; text-align: center; }
  .section-inner { width: 100%; }
  .section-inner .pickup-item { text-align: center; }
  .section-inner .pickup-item img { margin: auto; }
  .schedule { margin-bottom: 20px; }
  .schedule:last-child { margin-bottom: 0; } }

/*# sourceMappingURL=home.css.map */
