@charset 'utf-8';

@import 'variables';
@import 'sidebar';


.site-header {
	//height: 415px;
	background: url(../images/common/bg-header.png) center center repeat-x;
	
	.main-image {
		position: relative;
		height: 357px;
		padding-top: 30px;
	}
	
	#signboard {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 600px;
		height: 320px;
		margin: auto;
		padding: 30px 75px 50px;
		background: url(../images/common/bg-signboard.png) center center no-repeat;
	}
	
	.site-title {
		width: 100%;
		
		img {
			width: 70%;
			height: auto;
			max-height: 300px;
		}
	}
	
	.page-title {
		line-height: .8;
		font-weight: normal;
		font-size: $fs-28;
		color: #046a37;
		
		span {
			font-size: $fs-16;
			color: #777;
		}
	}
	
    .imdesc{
      .headerLeft{
        display: none;
      }
      .headerRight{
        display: none;
      }
    }
	
} // header

#primary {
	width: 100%;
	max-width: $contentWidth;
	margin: auto;
}

#primary.content-area {
	margin-top: 40px;
}

#secondary {
	width: 100%;
	margin: auto;
	
	.section {
		padding: 30px 20px;
		background: $bgColor;
	}
}


#main {
	
	.page-title {
		font-size: $fs-26;
		font-family: "じゅん 34", "Jun 34";
		padding: 25px 10px 25px;
		color: $primaryColor;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		text-align: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	.page-title:before,
	.page-title:after {
		border-top: 6px solid $primaryColor;
		content: "";
		display: inline;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		min-width: 1em;
		max-width: 135px;
	}
	.page-title:before {
		margin-right: 1.25em;
	}
	.page-title:after {
		margin-left: 1.25em;
	}
	
	.section {
		margin-bottom: 50px;
	}
	
	.section-inner {
		
		h2,h3,h4,h5,h6 {
			font-family: "じゅん 34", "Jun 34";
			font-size: $fs-20;
			padding: 10px;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		
		h3,h4,h5,h6 {
			color: $primaryColor;
		}
		
		h2 {
			background: $primaryColor;
			color: #fff;
		}
		
		h3 {
			border-top: 2px solid $primaryColor; 
			border-bottom: 2px solid $primaryColor; 
		}
		
		h4 {
			border-bottom: 2px solid $primaryColor; 
		}
		
		h5 {
			border-left: 4px solid $primaryColor; 
			padding: 0 10px;
		}
		
		h6 {
			padding: 0;
		}
		
		hr {
			border-top: 1px solid rgba( $primaryColor, 0.6 );
		}
		
		.box {
			border: 6px solid rgba( $primaryColor, 0.6 );
			padding: 20px;
		}
		.box p:last-child {
			margin-bottom: 0;
		}
		
		table {
			margin: 20px 0;
			width: 100%;
		}
		table p {
			margin-bottom: 0;
		}
		table th,
		table td {
			font-weight: bold;
			text-align: left;
			color: $primaryColor;
			border: 2px solid $primaryColor;
			padding: 10px;
		}
		table th {
			background: #F7F8F8;
			min-width: 100px;
		}
		.bt {
			font-size: $fs-20;
			font-weight: bold;
			margin: 20px 0;
			color: #fff;
			background: $primaryColor;
			padding: 20px;
			display: inline-block;
			text-align: center;
			min-width: 250px;
			border-radius: 5px;
			text-decoration: none;
		}
		.bt:hover {
			background: rgba($primaryColor,0.8);
			text-decoration: none;
		}
		
	}
	
	/*
	// アーカイブページ
	*/
	&.archive {
		
		.page-title {
			margin-top: 30px;
			margin-bottom: 20px;
			padding: 0;
			background: url(../images/common/bg-article-title.png) left center no-repeat;
			text-align: left;
			font-size: $fs-28;
			font-weight: 700;
			
			.title {
				display: block;
				padding: 25px 0 25px 70px;
				background: url(../images/common/bg-title-border.png) left bottom no-repeat;
			}
		}
		
		article {
			padding: 10px 0;
		}
		
		.image-box {
			padding: 0;
			
			img {
				width: 100%;
			}
		}
		
		.text-box {
			
			h2 {
				margin: 0 0 5px;
				padding: 0 0 5px 25px;
				background: url(../images/common/bg-archive-title.png) 3px top no-repeat;
				border-bottom: 1px dotted $titleColor;
				
				
				.date {
					float: left;
					width: 20%;
					padding: .25rem 5px 0;
					font-size: $fs-13;
					font-weight: normal;
				}
				
				.title {
					float: left;
					width: 80%;
					padding: 0 5px;
					font-size: $fs-18;
				
					a {
						color: $textColor;
						
						&:hover {
							color: $textColor;
						}
					}
				}
			}
		} // .text-box
		
		.pagenavi {
			
			a,
			span {
				border-width: 2px;
			}
		}
	}
	
	/*
	// シングルページ
	*/
	.article-header {
		margin: 0;
		padding: 0 0 5px;
		border-bottom: 3px solid #94c554;

		.article-title {
			margin-bottom: 0;
			padding: 18px 0 18px 70px;
			background: url(../images/common/bg-article-title.png) left center no-repeat;
			font-size: $fs-28;
			font-weight: 700;
		}
		
		.article-date {
			margin: 0;
			padding: 0;
		}
	}

	.social {
		padding: 10px 0;
		
		.social-list {
			padding: 0;
			list-style-type: none;
			
			.social-item {
				display: inline-block;
				
				.sns-button {
					display: inline-block;
				}
				
				.fb-like {
					overflow: hidden !important;
				}
				
				.twitter {
					
				}
			}
		}
	}
	
	.article-content {
		margin: 25px 0;
		line-height: 1.8;
		
		img,
		iframe {
			max-width: 100%;
			height: auto;
		}
		
		p {
			position: relative;
		}
		
		img.aligncenter {
			float: none;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
	}
	
	.page-navi {
		padding: 10px 0;
		border-top: 3px solid #94c554;
		
		.prev {
			padding-left: 0;
			
			a {
				display: block;
				padding-left: 25px;
				background: url(../images/common/bg-prev.png) left .1em no-repeat;
			}
		}
		
		.next {
			padding-right: 0;
			
			a {
				display: block;
				padding-right: 25px;
				background: url(../images/common/bg-next.png) right .1em no-repeat;
			}
		}
	}
} // #main

#sessions {
	
	#main {
		
		table {
			
			th {
				background: $bgColor;
			}
		}
	}
} // #sessions

#entry {
	
	#main {
		
		.tix-column-remaining {
			display: none;
		}
	}
}

@media screen and ( max-width: 767px ) {
    
	.site-header {
		height: auto;
		background-position: center top;
		
		.main-image {
			height: auto;
			margin-top: 40px;
		}
		
		#signboard {
			position: relative;
			width: 100%;
			height: auto;
			padding: 55px 30px 45px;
			background-size: 100% auto;
			background-position: center bottom;
			
			.site-title {
				margin-bottom: 10px;
				
				img {
					width: 65%;
				}
			}
			
			.page-title {
				margin: 0;
				font-size: $fs-21;
				
				span {
					font-size: $fs-12;
				}
			}
		}
	}
	
	#primary {
		width: 100%;
	}
	
	#main {
		
		&.archive {
			
			.text-box {
				padding: 5px 0;
				
				h2 {
					background-position: left center;
					
					.date,
					.title {
						display: block;
						float: none;
						width: 100%;
					}
					
					.date {
						padding: 0 0 3px;
					}
				}
			}
		}
		
		.section {
			margin-bottom: 0;
			
			.article-title {
				margin: 0;
			}
		}
		
		
	} // #main
	
	#sessions {
		
		#main {
			
			table {
				display: block;
				width: 100%;
				
				thead,
				tbody,
				col,
				tr,
				th,
				td {
					display: block;
					width: 100%;
				}
			}
		}
	}
}