@charset "UTF-8";
/* サイズ */
/* フォントサイズ */
/* カラー */
/* サイズ */
/* フォントサイズ */
/* カラー */
.sidebar { padding-top: 25px; padding-bottom: 25px; }

.sidebar h2 { margin: 0; padding: 5px; background: #ea5514; font-size: 1.43rem; color: #fff; }

.sidebar .banner-container { padding: 5px 0 0; background: #f4f4f4; }

.sidebar .banner-container .banner-item { padding: 0 5px 5px; }

.sidebar ul { margin: 0; padding: 0; list-style-type: none; text-align: left; }

.sidebar ul li { margin: 0; padding: 0; }

.sidebar ul li.current_page_item a { background-color: #f9cbb8; }

.sidebar ul li a { display: block; padding: 15px 5px 15px 23px; position: relative; background-color: #f4f4f4; color: #2d2d2d; }

.sidebar ul li a:hover { background-color: #f9cbb8; color: #2d2d2d; text-decoration: none; }

.sidebar ul li a:before { content: "\f0da"; font-family: FontAwesome; color: #ea5514; font-size: 20px; position: absolute; left: 10px; top: calc(50% - 10px); line-height: 1; }

.site-header { background: url(../images/common/bg-sub-header.png) center top repeat-x; }

.site-header .main-image { position: relative; }

.site-header #signboard { position: absolute; right: 0; bottom: 0; left: 0; width: 600px; height: 320px; margin: auto; padding: 30px 75px 50px; background: url(../images/common/bg-signboard.png) center center no-repeat; }

.site-header .site-title { width: 100%; margin: 0; }

.site-header .site-title img { height: auto; max-height: 400px; }

.site-header .page-title { line-height: .8; font-weight: normal; font-size: 2rem; color: #046a37; }

.site-header .page-title span { font-size: 1.14rem; color: #777; }

.site-header .imdesc .headerLeft { display: none; }

.site-header .imdesc .headerRight { display: none; }

#primary { width: 100%; max-width: 1000px; margin: auto; }

#primary.content-area { margin-top: 40px; }

#secondary { width: 100%; margin: auto; }

#secondary .section { padding: 30px 20px; background: #f09875; }

#main { /* // アーカイブページ */ /* // シングルページ */ }

#main .page-title { font-size: 1.86rem; font-family: "じゅん 34", "Jun 34"; margin: 20px 0 0; padding: 25px 10px 25px; color: #ea5514; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; text-align: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; }

#main .page-title:before, #main .page-title:after { border-top: 6px solid #ea5514; content: ""; display: inline; -webkit-box-flex: 1; -webkit-flex-grow: 1; -moz-flex-grow: 1; -ms-flex-grow: 1; flex-grow: 1; min-width: 1em; max-width: 135px; }

#main .page-title:before { margin-right: 1.25em; }

#main .page-title:after { margin-left: 1.25em; }

#main .section { margin-bottom: 50px; }

#main .section-inner h2, #main .section-inner h3, #main .section-inner h4, #main .section-inner h5, #main .section-inner h6 { font-family: "じゅん 34", "Jun 34"; font-size: 1.43rem; padding: 10px; margin-top: 40px; margin-bottom: 20px; }

#main .section-inner h3, #main .section-inner h4, #main .section-inner h5, #main .section-inner h6 { color: #ea5514; }

#main .section-inner h2 { background: #ea5514; color: #fff; }

#main .section-inner h3 { border-top: 2px solid #ea5514; border-bottom: 2px solid #ea5514; }

#main .section-inner h4 { border-bottom: 2px solid #ea5514; }

#main .section-inner h5 { border-left: 4px solid #ea5514; padding: 0 10px; }

#main .section-inner h6 { padding: 0; }

#main .section-inner hr { border-top: 1px solid rgba(234, 85, 20, 0.6); }

#main .section-inner .box { border: 6px solid rgba(234, 85, 20, 0.6); padding: 20px; }

#main .section-inner .box p:last-child { margin-bottom: 0; }

#main .section-inner table { margin: 20px 0; width: 100%; }

#main .section-inner table p { margin-bottom: 0; }

#main .section-inner table th, #main .section-inner table td { font-weight: bold; text-align: left; color: #ea5514; border: 2px solid #ea5514; padding: 10px; }

#main .section-inner table th { background: #F7F8F8; min-width: 100px; }

#main .section-inner .bt { font-size: 1.43rem; font-weight: bold; margin: 20px 0; color: #fff; background: #ea5514; padding: 20px; display: inline-block; text-align: center; min-width: 250px; border-radius: 5px; text-decoration: none; }

#main .section-inner .bt:hover { background: rgba(234, 85, 20, 0.8); text-decoration: none; }

#main.archive .page-title { margin-top: 35px; margin-bottom: 50px; padding: 0; background: url(../images/common/bg-article-title.png) left center no-repeat; text-align: left; font-size: 2rem; font-weight: 700; }

#main.archive .page-title .title { display: block; padding: 25px 0 25px 70px; background: url(../images/common/bg-title-border.png) left bottom no-repeat; }

#main.archive article { padding: 10px 0; }

#main.archive .image-box { max-width: 150px; padding: 0; }

#main.archive .image-box img { max-width: 100%; height: auto; }

#main.archive .text-box .post-title { margin: 0 0 5px; padding: 7px 5px; }

#main.archive .text-box .post-title .date { float: left; width: 20%; padding: 0.25rem 5px 0; font-size: 0.92rem; font-weight: normal; }

#main.archive .text-box .post-title .title { float: left; width: 80%; padding: 0 5px; font-size: 1.29rem; }

#main.archive .text-box .post-title .title a { color: #2d2d2d; }

#main.archive .text-box .post-title .title a:hover { color: #2d2d2d; }

#main .article-header { margin: 0; padding: 0 0 5px; border-bottom: 3px solid #ea5514; }

#main .article-header .article-title { margin-bottom: 0; padding: 18px 0; font-size: 2rem; font-weight: 700; color: #ea5514; }

#main .article-header .article-date { margin: 0; padding: 0; }

#main .social { padding: 10px 0; }

#main .social .social-list { padding: 0; list-style-type: none; }

#main .social .social-list .social-item { display: inline-block; }

#main .social .social-list .social-item .sns-button { display: inline-block; }

#main .social .social-list .social-item .fb-like { overflow: hidden !important; }

#main .article-content { margin: 25px 0; line-height: 1.8; }

#main .article-content img, #main .article-content iframe { max-width: 100%; height: auto; }

#main .article-content p { position: relative; }

#main .article-content img.aligncenter { float: none; display: block; margin-right: auto; margin-left: auto; }

#main .page-navi { margin-bottom: 50px; padding: 10px 0; border-top: 3px solid #ea5514; }

#main .page-navi .prev { padding-left: 0; }

#main .page-navi .prev a { display: block; text-align: left; }

#main .page-navi .next { padding-right: 0; }

#main .page-navi .next a { display: block; text-align: right; }

#sessions #main table th { background: #f09875; }

#entry #main .tix-column-remaining { display: none; }

@media screen and (max-width: 767px) { .site-header { height: auto; background-position: center top; background-size: cover; }
  .site-header .main-image { height: auto; }
  .site-header .main-image .site-branding { overflow: auto; }
  .site-header .site-title { margin-bottom: 10px; }
  .site-header .site-title img { width: 100%; }
  .site-header .page-title { margin: 0; font-size: 1.5rem; }
  .site-header .page-title span { font-size: 0.86rem; }
  #primary { width: 100%; }
  #main.archive .text-box { padding: 5px 0; }
  #main.archive .text-box h2 { background-position: left center; }
  #main.archive .text-box h2 .date, #main.archive .text-box h2 .title { display: block; float: none; width: 100%; }
  #main.archive .text-box h2 .date { padding: 0 0 3px; }
  #main .section { margin-bottom: 0; }
  #main .section .article-title { margin: 0; }
  #sessions #main table { display: block; width: 100%; }
  #sessions #main table thead, #sessions #main table tbody, #sessions #main table col, #sessions #main table tr, #sessions #main table th, #sessions #main table td { display: block; width: 100%; } }

/*# sourceMappingURL=../css/page.map */